In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# data exploration and data cleaning for this one, let's go!
# wondering what carolina will think about what we find here xD

In [3]:
sleep = pd.read_csv('data/Dataset_maternal_mental_health_infant_sleep.csv', encoding='iso-8859-1')
sleep.head()

/var/folders/5x/1n063tsx6jx9wzcy34jzlqzh0000gn/T/ipykernel_51430/761960269.py:1: DtypeWarning: Columns (6,61) have mixed types. Specify dtype option on import or set low_memory=False.
  sleep = pd.read_csv('data/Dataset_maternal_mental_health_infant_sleep.csv', encoding='iso-8859-1')

,Participant_number,Type_parents,Birth_1mth_M_inclusion,Birth_12mth_M_inclusion,Age,Marital_status,Marital_status_Autre,Marital_status_edit,Education,Gestationnal_age,...,IBQ_R_VSF_10_bb1,IBQ_R_VSF_16_bb1,IBQ_R_VSF_17_bb1,IBQ_R_VSF_28_bb1,IBQ_R_VSF_29_bb1,IBQ_R_VSF_32_bb1,IBQ_R_VSF_33_bb1,Sleep_night_duration_bb1,night_awakening_number_bb1,how_falling_asleep_bb1
0,1.0,1.0,1.0,1.0,34.0,2.0,NaN,2.0,5.0,37.0,...,NaN,7.0,NaN,NaN,7.0,6.0,NaN,10:00,3.0,2.0
1,2.0,1.0,1.0,1.0,33.0,2.0,NaN,2.0,5.0,42.0,...,2.0,3.0,2.0,2.0,2.0,3.0,4.0,11:00,0.0,4.0
2,3.0,1.0,1.0,1.0,37.0,2.0,NaN,2.0,5.0,41.0,...,4.0,4.0,3.0,1.0,4.0,NaN,NaN,12:00,1.0,2.0
3,4.0,1.0,1.0,1.0,31.0,2.0,NaN,2.0,5.0,37.5,...,1.0,3.0,NaN,NaN,NaN,5.0,NaN,11:00,2.0,1.0
4,5.0,1.0,1.0,1.0,36.0,1.0,NaN,1.0,5.0,40.0,...,4.0,2.0,2.0,4.0,5.0,6.0,6.0,10:30,1.0,4.0

In [4]:
sleep.dtypes.index    # lots of columns here. many.

Index(['Participant_number', 'Type_parents', 'Birth_1mth_M_inclusion',
       'Birth_12mth_M_inclusion', 'Age', 'Marital_status',
       'Marital_status_Autre', 'Marital_status_edit', 'Education',
       'Gestationnal_age', 'Type_pregnancy', 'sex_baby1', 'CBTS_M_3',
       'CBTS_M_4', 'CBTS_M_5', 'CBTS_M_6', 'CBTS_M_7', 'CBTS_M_8', 'CBTS_M_9',
       'CBTS_M_10', 'CBTS_M_11', 'CBTS_M_12', 'CBTS_13', 'CBTS_14', 'CBTS_15',
       'CBTS_16', 'CBTS_17', 'CBTS_18', 'CBTS_19', 'CBTS_20', 'CBTS_21',
       'CBTS_22', 'EPDS_1', 'EPDS_2', 'EPDS_3', 'EPDS_4', 'EPDS_5', 'EPDS_6',
       'EPDS_7', 'EPDS_8', 'EPDS_9', 'EPDS_10', 'HADS_1', 'HADS_3', 'HADS_5',
       'HADS_7', 'HADS_9', 'HADS_11', 'HADS_13', 'Child_survey_participation',
       'Age_bb', 'IBQ_R_VSF_3_bb1', 'IBQ_R_VSF_4_bb1', 'IBQ_R_VSF_9_bb1',
       'IBQ_R_VSF_10_bb1', 'IBQ_R_VSF_16_bb1', 'IBQ_R_VSF_17_bb1',
       'IBQ_R_VSF_28_bb1', 'IBQ_R_VSF_29_bb1', 'IBQ_R_VSF_32_bb1',
       'IBQ_R_VSF_33_bb1', 'Sleep_night_duration_bb1',
       'night_awakening_number_bb1', 'how_falling_asleep_bb1'],
      dtype='object')

In [5]:
sleep.memory_usage(deep=True).sum()     # also lots of memory being used

587056037

In [6]:
sleep = sleep.dropna(how='all')
sleep

,Participant_number,Type_parents,Birth_1mth_M_inclusion,Birth_12mth_M_inclusion,Age,Marital_status,Marital_status_Autre,Marital_status_edit,Education,Gestationnal_age,...,IBQ_R_VSF_10_bb1,IBQ_R_VSF_16_bb1,IBQ_R_VSF_17_bb1,IBQ_R_VSF_28_bb1,IBQ_R_VSF_29_bb1,IBQ_R_VSF_32_bb1,IBQ_R_VSF_33_bb1,Sleep_night_duration_bb1,night_awakening_number_bb1,how_falling_asleep_bb1
0,1.0,1.0,1.0,1.0,34.0,2.0,NaN,2.0,5.0,37.0,...,NaN,7.0,NaN,NaN,7.0,6.0,NaN,10:00,3.0,2.0
1,2.0,1.0,1.0,1.0,33.0,2.0,NaN,2.0,5.0,42.0,...,2.0,3.0,2.0,2.0,2.0,3.0,4.0,11:00,0.0,4.0
2,3.0,1.0,1.0,1.0,37.0,2.0,NaN,2.0,5.0,41.0,...,4.0,4.0,3.0,1.0,4.0,NaN,NaN,12:00,1.0,2.0
3,4.0,1.0,1.0,1.0,31.0,2.0,NaN,2.0,5.0,37.5,...,1.0,3.0,NaN,NaN,NaN,5.0,NaN,11:00,2.0,1.0
4,5.0,1.0,1.0,1.0,36.0,1.0,NaN,1.0,5.0,40.0,...,4.0,2.0,2.0,4.0,5.0,6.0,6.0,10:30,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,406.0,1.0,1.0,1.0,31.0,2.0,NaN,2.0,3.0,39.5,...,6.0,6.0,NaN,NaN,4.0,2.0,NaN,09:00,1.0,2.0
406,407.0,1.0,1.0,1.0,26.0,2.0,NaN,2.0,2.0,37.0,...,1.0,2.0,1.0,1.0,1.0,2.0,1.0,12:00,0.0,4.0
407,408.0,1.0,1.0,1.0,26.0,2.0,NaN,2.0,5.0,39.0,...,1.0,2.0,1.0,3.0,2.0,3.0,2.0,10:00,2.0,5.0
408,409.0,1.0,1.0,1.0,27.0,2.0,NaN,2.0,5.0,41.2,...,1.0,2.0,1.0,1.0,2.0,2.0,1.0,11:30,0.0,4.0
409,410.0,1.0,1.0,1.0,31.0,2.0,NaN,2.0,5.0,38.0,...,1.0,6.0,1.0,2.0,NaN,2.0,NaN,12:00,0.0,4.0

In [7]:
# for now, i want to break this data up into two frames
# one for the survey results, and one for everything ele
# we'll use the participant number as an index in both, and keep it locked down

info = ['Participant_number', 'Type_parents', 'Birth_1mth_M_inclusion',
       'Birth_12mth_M_inclusion', 'Age', 'Marital_status',
       'Marital_status_Autre', 'Marital_status_edit', 'Education',
       'Gestationnal_age', 'Type_pregnancy', 'sex_baby1', 'Age_bb', 'Sleep_night_duration_bb1',
       'night_awakening_number_bb1', 'how_falling_asleep_bb1']

survey = ['Participant_number', 'CBTS_M_3', 'CBTS_M_4', 'CBTS_M_5', 'CBTS_M_6', 'CBTS_M_7', 'CBTS_M_8', 'CBTS_M_9',
       'CBTS_M_10', 'CBTS_M_11', 'CBTS_M_12', 'CBTS_13', 'CBTS_14', 'CBTS_15',
       'CBTS_16', 'CBTS_17', 'CBTS_18', 'CBTS_19', 'CBTS_20', 'CBTS_21',
       'CBTS_22', 'EPDS_1', 'EPDS_2', 'EPDS_3', 'EPDS_4', 'EPDS_5', 'EPDS_6',
       'EPDS_7', 'EPDS_8', 'EPDS_9', 'EPDS_10', 'HADS_1', 'HADS_3', 'HADS_5',
       'HADS_7', 'HADS_9', 'HADS_11', 'HADS_13', 'IBQ_R_VSF_3_bb1', 'IBQ_R_VSF_4_bb1', 'IBQ_R_VSF_9_bb1',
       'IBQ_R_VSF_10_bb1', 'IBQ_R_VSF_16_bb1', 'IBQ_R_VSF_17_bb1',
       'IBQ_R_VSF_28_bb1', 'IBQ_R_VSF_29_bb1', 'IBQ_R_VSF_32_bb1',
       'IBQ_R_VSF_33_bb1']

In [8]:
# sleep['Sleep_night_duration_bb1'] = pd.to_numeric(sleep['Sleep_night_duration_bb1'], errors='coerce')
# sleep['Sleep_night_duration_bb1'].dtypes

In [9]:
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

In [10]:
# function for cleaning the info columns

def sleep_info(sleep):
    return (sleep
            [info]
            .astype({'Participant_number':'int16', 'Type_parents':'int8', 'Birth_1mth_M_inclusion':'int8', 'Birth_12mth_M_inclusion':'int8', 
                    'Age':'int8', 'Marital_status':'int8', 'Marital_status_edit':'int8', 'Education':'int8', 'Gestationnal_age':'int8', 'Type_pregnancy':'int8',
                    'sex_baby1':'int8', 'Age_bb':'int8', 'night_awakening_number_bb1':'int8', 'how_falling_asleep_bb1':'int8'})  
            # .memory_usage()
            # .sum()
            # .dtypes
)

In [28]:
# function for cleaning the survey columns

def sleep_survey(sleep):
    return  (sleep
                [survey]
                .select_dtypes('float')  
                .fillna(0)
                .astype('int16')   
                # .describe()
                # .dtypes
            )

In [29]:
# creating variable for survey DataFrame

sleep_s = sleep_survey(sleep)
sleep_s

,Participant_number,CBTS_M_3,CBTS_M_4,CBTS_M_5,CBTS_M_6,CBTS_M_7,CBTS_M_8,CBTS_M_9,CBTS_M_10,CBTS_M_11,...,IBQ_R_VSF_3_bb1,IBQ_R_VSF_4_bb1,IBQ_R_VSF_9_bb1,IBQ_R_VSF_10_bb1,IBQ_R_VSF_16_bb1,IBQ_R_VSF_17_bb1,IBQ_R_VSF_28_bb1,IBQ_R_VSF_29_bb1,IBQ_R_VSF_32_bb1,IBQ_R_VSF_33_bb1
0,1,0,0,0,0,0,0,0,1,0,...,6,0,7,0,7,0,0,7,6,0
1,2,0,0,0,0,0,0,0,0,0,...,1,4,2,2,3,2,2,2,3,4
2,3,0,0,1,0,0,0,0,0,0,...,1,0,0,4,4,3,1,4,0,0
3,4,0,0,1,1,1,0,0,1,1,...,2,5,2,1,3,0,0,0,5,0
4,5,0,0,0,0,0,0,0,0,0,...,2,6,2,4,2,2,4,5,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,406,0,0,0,0,0,0,0,0,0,...,1,3,6,6,6,0,0,4,2,0
406,407,0,0,3,0,0,0,0,0,0,...,7,2,6,1,2,1,1,1,2,1
407,408,0,0,0,0,0,0,0,0,0,...,2,1,2,1,2,1,3,2,3,2
408,409,0,0,0,0,0,0,0,0,0,...,1,1,2,1,2,1,1,2,2,1
409,410,0,0,0,0,0,0,0,0,0,...,5,2,5,1,6,1,2,0,2,0

In [13]:
# creating variable for info DataFrame

sleep_i = sleep_info(sleep)
sleep_i

,Participant_number,Type_parents,Birth_1mth_M_inclusion,Birth_12mth_M_inclusion,Age,Marital_status,Marital_status_Autre,Marital_status_edit,Education,Gestationnal_age,Type_pregnancy,sex_baby1,Age_bb,Sleep_night_duration_bb1,night_awakening_number_bb1,how_falling_asleep_bb1
0,1,1,1,1,34,2,NaN,2,5,37,1,1,1,10:00,3,2
1,2,1,1,1,33,2,NaN,2,5,42,1,2,3,11:00,0,4
2,3,1,1,1,37,2,NaN,2,5,41,1,1,1,12:00,1,2
3,4,1,1,1,31,2,NaN,2,5,37,1,2,3,11:00,2,1
4,5,1,1,1,36,1,NaN,1,5,40,1,2,3,10:30,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,406,1,1,1,31,2,NaN,2,3,39,1,2,2,09:00,1,2
406,407,1,1,1,26,2,NaN,2,2,37,1,2,2,12:00,0,4
407,408,1,1,1,26,2,NaN,2,5,39,1,1,1,10:00,2,5
408,409,1,1,1,27,2,NaN,2,5,41,1,1,1,11:30,0,4
409,410,1,1,1,31,2,NaN,2,5,38,1,2,2,12:00,0,4

In [14]:
sleep_i.describe()

,Participant_number,Type_parents,Birth_1mth_M_inclusion,Birth_12mth_M_inclusion,Age,Marital_status,Marital_status_edit,Education,Gestationnal_age,Type_pregnancy,sex_baby1,Age_bb,night_awakening_number_bb1,how_falling_asleep_bb1
count,410.000000,410.0,410.0,410.0,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000
mean,205.500000,1.0,1.0,1.0,30.197561,2.002439,1.982927,4.080488,38.943902,1.012195,1.482927,1.958537,1.439024,3.041463
std,118.501055,0.0,0.0,0.0,4.362262,0.359970,0.225948,1.001642,1.922527,0.109890,0.500319,0.821911,1.589218,1.397076
min,1.000000,1.0,1.0,1.0,19.000000,1.000000,1.000000,1.000000,26.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,103.250000,1.0,1.0,1.0,27.000000,2.000000,2.000000,3.000000,38.000000,1.000000,1.000000,1.000000,0.000000,2.000000
50%,205.500000,1.0,1.0,1.0,30.000000,2.000000,2.000000,4.000000,39.000000,1.000000,1.000000,2.000000,1.000000,4.000000
75%,307.750000,1.0,1.0,1.0,33.000000,2.000000,2.000000,5.000000,40.000000,1.000000,2.000000,3.000000,2.000000,4.000000
max,410.000000,1.0,1.0,1.0,47.000000,6.000000,3.000000,5.000000,43.000000,2.000000,2.000000,3.000000,10.000000,5.000000